html, body {
    width:  100%;
    height: 100%;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#glCanvas {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#ui {
    padding: 10px;
}

#controls {
    margin-top: 10px;
}